* {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 24, 24);
  color: aliceblue;
}
.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-content: space-around;

}

.posts-container{
  width: 500px;
  height: 360px;
  border: 1px solid #dbdbdb;
  display: flex;
  margin: 2rem;
  border-radius: 18px;
}

.icon-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: .5rem;
}


.first-union{
  padding: .5rem;
  width: 300px;
}
.second-union{
  display: flex;
}
.profile-name{

}
.profile-link{
  margin-left: 5px;
  margin-right: 5px;
  color:darkgray;
  font-size:13px;
  text-decoration: none;
}
.date{
  font-size: 13px;
}
.share-profile-link{
  text-decoration: none;
}
.post-img-inner {
  width: 360px;
  height: 235px;
  border-radius:10px ;
}
.post-style{
  padding-bottom: 10px
}
.reactions{
  display: flex;
  justify-content: space-between;
}